@{
    ViewData["Title"] = "Home Page";
}


<div>

    <div style="display:flex;">

        <div>
            <h1 style="margin-top: 100px;margin-bottom: auto; margin-left: 300px;font-size: 3.5rem;font:bolder; font-family: Poppins,sans-serif; color: #2d2e32; "> Software Developer</h1>

            <p style="max-width:30rem; margin-left: 300px;font-size: 19px ;color: #767676; font-family: Mulish,sans-serif;">
                I am a motivated and enthusiastic student pursuing my Bachelor's Degree from NIST College. I am passionate about software development and strive to make a meaningful impact in this field.

            </p>
            <br>
            <br>
            <a href="#">
                <img src="google.jpeg" style="width: 50px; margin-left:420px;" alt="">
                <img src="twitter.jpeg.png" style="width: 50px;" alt="">
                <img src="facebook.jpeg" style="width: 50px;" alt="">
            </a>

        </div>


        <div>
            <img style="margin-left: 80px; margin-top: 180px;" src="spong.png" alt="">


        </div>
    </div>



</div>
<hr>
<div style="display: flex;">

    <img src="about-img.62b47e7f183d4b4e9feb.webp" style="    border-radius: 1.7rem;height: 25rem;width: 35rem;" alt="">
    <div>
        <h1 style="margin-left: 90px;">About </h1>
        <p style="max-width:30rem; margin-left: 80px;font-size: 19px ;color: #767676; font-family: Mulish,sans-serif;">As a Junior Front-End Developer, I possess an impressive arsenal of skills in HTML, CSS, JavaScript, React, Tailwind, and SCSS. I excel in designing and maintaining responsive websites that offer a smooth user experience. My expertise lies in crafting dynamic, engaging interfaces through writing clean and optimized code and utilizing cutting-edge development tools and techniques. I am also a team player who thrives in collaborating with cross-functional teams to produce outstanding web applications.</p>
    </div>
</div>







